.imgProfile {
  border-radius: 50%;
  width: 12.5rem;
  box-shadow: 0 5px 10px;
  transition: transform 0.2s ease-in-out;
  margin: 1rem;
}

.imgProfile:hover {
  transform: scale(1.1);
}

.logo {
  width: 1.56rem;
  position: relative;
  bottom: 0.5rem;
}

.divImg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 58, 64, 1) 35%
  );
  text-align: center;
  font-size: 0.9rem;
  color: cornsilk;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
}

.divImg2 {
  background: rgb(52, 58, 64);
  background: linear-gradient(
    90deg,
    rgba(52, 58, 64, 1) 0%,
    rgba(2, 0, 36, 1) 35%
  );
  text-align: center;
  font-size: 0.9rem;
  color: cornsilk;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
}
